$bgColor: #FFFFFF;
$boxColor: #2196F3;
$quoteColor: #212121;
$titleColor: #212121;
$buttonColor: #BDBDBD;
$hoverColor: #757575;
$footerColor: #BDBDBD;
$titleFont: 'Raleway', sans-serif;
$textFont: 'Playfair Display', serif;